In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
from sklearn import model_selection
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

In [39]:
#read the train data
passengers = pd.read_csv('./titanic/train.csv')

#read the test data
test_passengers = pd.read_csv('./titanic/test.csv')

In [40]:
test_passengers.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [41]:
#analyze the data
passengers[['Sex','Survived']].groupby(['Sex'],as_index=False).mean().sort_values(by='Survived')

      Sex  Survived
1    male  0.188908
0  female  0.742038

In [42]:
passengers[['Pclass','Survived']].groupby(['Pclass'],as_index=False).mean().sort_values(by='Survived')

   Pclass  Survived
2       3  0.242363
1       2  0.472826
0       1  0.629630

In [43]:
passengers[['Parch','Survived']].groupby(['Parch'],as_index=False).mean().sort_values(by='Survived')

   Parch  Survived
4      4  0.000000
6      6  0.000000
5      5  0.200000
0      0  0.343658
2      2  0.500000
1      1  0.550847
3      3  0.600000

In [44]:
passengers[['Embarked','Survived']].groupby(['Embarked'],as_index=False).mean().sort_values(by='Survived')

  Embarked  Survived
2        S  0.336957
1        Q  0.389610
0        C  0.553571

In [45]:
#deal the missing value for train data

avg_age = int(passengers['Age'].mean())

def fill_missing_values(column, value, passengers):
    new_passengers = passengers.fillna({column: value})
    return new_passengers
    
# #deal the missing age with average age:   
new_passengers = fill_missing_values('Age', avg_age, passengers)

In [46]:
#Fill the missing Embarked: replace with 'S'
passengers2 = fill_missing_values('Embarked', 'S', new_passengers)

In [47]:
#Fill the missing age for test data
test_avg_age = int(test_passengers['Age'].mean())
new_test_passengers = fill_missing_values('Age', test_avg_age, test_passengers)

In [48]:
#fill the missing Fare for test data with average fare:
avg_fare = test_passengers['Fare'].mean()
new_test_passengers2 = fill_missing_values('Fare', avg_fare, new_test_passengers)

#fill the missing Embarked value for test data with 'S':
test_passengers2 = fill_missing_values('Embarked', 'S', new_test_passengers2)

In [49]:
#training the machine:
trains = passengers2[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [50]:
results = passengers['Survived']

In [51]:
tests = test_passengers2[['Pclass','Sex','Age','SibSp','Parch','Fare','Embarked']]

In [52]:
#replace Sex from string to int: 'male' to 0, 'female' to 1
trains['Sex'] = trains['Sex'].replace('male', 0)
trains['Sex'] = trains['Sex'].replace('female', 1)
#repalce Embarked from string to int: S: 0, C: 1, Q: 2
trains['Embarked'] = trains['Embarked'].replace('S', 0)
trains['Embarked'] = trains['Embarked'].replace('C', 1)
trains['Embarked'] = trains['Embarked'].replace('Q', 2)

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [53]:
#replace Sex from string to int: 'male' to 0, 'female' to 1
tests['Sex'] = tests['Sex'].replace('male', 0)
tests['Sex'] = tests['Sex'].replace('female', 1)
#repalce Embarked from string to int: S: 0, C: 1, Q: 2
tests['Embarked'] = tests['Embarked'].replace('S', 0)
tests['Embarked'] = tests['Embarked'].replace('C', 1)
tests['Embarked'] = tests['Embarked'].replace('Q', 2)

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [54]:
#build the models and envaluate the model:
seed = 7
scoring = 'accuracy'
models = []
models.append(('LR', LogisticRegression(solver='liblinear', multi_class='ovr')))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC(gamma='auto')))
# evaluate each model in turn
result = []
names = []
for name, model in models:  

    kfold = model_selection.KFold(n_splits=10, random_state=seed)
    cv_results = model_selection.cross_val_score(model, trains, results, cv=kfold, scoring=scoring)
    result.append(cv_results)
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.792397 (0.031256)
LDA: 0.790112 (0.035958)
KNN: 0.697066 (0.047923)
CART: 0.783458 (0.033142)
NB: 0.785655 (0.021921)
SVM: 0.698152 (0.044005)

In [18]:
# Make predictions on validation dataset:Knn
def prediction_knn(trains, results, tests):
    knn = KNeighborsClassifier()
    knn.fit(trains, results)
    predictions = knn.predict(tests)
    predictions_results = test_passengers[['PassengerId']]
    predictions_results['Survived'] = predictions
    return predictions_results

In [18]:
#write the data to csv

In [19]:
predictions_results = prediction_knn(trains, results, tests)
predictions_results.to_csv('result1.csv',header=True,index=False)

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [23]:
#train data by decisiontreeclassifier and test:
def prediction_cart(trains, results, tests):
    cart = DecisionTreeClassifier()
    cart.fit(trains, results)
    predictions = cart.predict(tests)
    predictions_results = test_passengers[['PassengerId']]
    predictions_results['Survived'] = predictions
    return predictions_results

In [25]:
predictions_results2 = prediction_cart(trains, results, tests)
predictions_results2.to_csv('result3.csv',header=True,index=False)

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [26]:
##train data by logisticregression and test:
def prediction_lr(trains, results, tests):
    lr = LogisticRegression(solver='liblinear', multi_class='ovr')
    lr.fit(trains, results)
    predictions = lr.predict(tests)
    predictions_results = test_passengers[['PassengerId']]
    predictions_results['Survived'] = predictions
    return predictions_results

In [27]:
#generate predictions and upload the results: 75%
predictions_results3 = prediction_lr(trains, results, tests)
predictions_results3.to_csv('result4.csv',header=True,index=False)

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [28]:
#train data by svm and test:
def prediction_svm(trains, results, tests):
    svm = SVC(gamma='auto')
    svm.fit(trains, results)
    predictions = svm.predict(tests)
    predictions_results = test_passengers[['PassengerId']]
    predictions_results['Survived'] = predictions
    return predictions_results

In [29]:
#generate predictions and upload the results: 63%
predictions_results4 = prediction_svm(trains, results, tests)
predictions_results4.to_csv('result_svm.csv',header=True,index=False)

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [55]:
#train data by LDA and test:
def prediction_svm(trains, results, tests):
    lda = LinearDiscriminantAnalysis()
    lda.fit(trains, results)
    predictions = lda.predict(tests)
    predictions_results = test_passengers[['PassengerId']]
    predictions_results['Survived'] = predictions
    return predictions_results

In [56]:
#generate predictions and upload the results: 76%
predictions_results5 = prediction_svm(trains, results, tests)
predictions_results5.to_csv('result_lda.csv',header=True,index=False)

C:\Users\Sara_Yu\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys